/node_modules
/vendor
/public/storage
/nbproject
libreadline.7.dylib
/nbproject/private/
/.idea
.idea

# Created by https://www.gitignore.io/api/laravel
# Edit at https://www.gitignore.io/?templates=laravel
### Laravel ###
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/
/storage/framework/views
/public/js/app.js

# Laravel 5 & Lumen specific
public/storage
storage/4
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# End of https://www.gitignore.io/api/laravel
storage/framework/views
